<div class="chartjs-size-monitor"
  style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
  <div class="chartjs-size-monitor-expand"
    style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
  </div>
  <div class="chartjs-size-monitor-shrink"
    style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
  </div>
</div>

<br>
<div class="row">
  <div class="col-auto mr-auto">
    <h2 class="text-info">学生成绩管理</h2>
  </div>
  <div class="col-auto">
    <!-- <button type="button" class="btn btn-primary" (click)="search()">查询</button>
    <button type="button" class="btn btn-success" (click)="add()">添加</button>
    <button type="button" class="btn btn-danger " (click)="delete()">删除</button>
    <button type="button" class="btn btn-warning" (click)="update()">修改</button> -->
    <button type="button" class="btn btn-primary" (click)="openModal(template_search)">查询</button>
    <button type="button" class="btn btn-success" (click)="openModal(template_add)">添加</button>
    <!-- <button type="button" class="btn btn-danger " (click)="delete()">删除</button> -->
    <button type="button" class="btn btn-warning" (click)="openModal(template_update)">修改</button>
    <button type="button" class="btn btn-danger" (click)="searchall()">查询所有</button>
  </div>
</div>
<br>

<ng-template #template_search>
  <div class="modal-header">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <h4 class="modal-title pull-left">查询面板</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="stuForm">

      <div class="form-group">
        <label for="id">请输入你要查询的学生ID：</label>
        <input type="text" class="form-control" id="id" name="id" [formControl]='id'>
      </div>
    </form>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="search();modalRef.hide()">查询</button>
  </div>
</ng-template>

<ng-template #template_add>
  <div class="modal-header">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <h4 class="modal-title pull-left">添加面板</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="stuForm">
      <div class="form-group">
        <label for="id">学号</label>
        <input type="text" class="form-control" id="id" name="id" [formControl]='id'
          [ngClass]="{'is-invalid': id.invalid,'is-valid':id.valid}">
        <div class="valid-feedback">
          学号格式正确！
        </div>
        <div class="invalid-feedback">
          <span *ngIf="id.hasError('required')">学号必须填写！</span>
          <span *ngIf="!id.hasError('required') && id.hasError('invalidId')">学号必须是数字！</span>
        </div>
      </div>
      <div class="form-group">
        <label for="stuName">学生姓名</label>
        <input type="text" class="form-control" id="stuName" name="stuName" [formControl]='stuName'>
      </div>
      <div class="form-group">
        <label for="webgrade">WEB成绩</label>
        <input type="text" class="form-control" id="webgrade" name="webgrade" [formControl]='webgrade'
          [ngClass]="{'is-invalid': webgrade.invalid,'is-valid':webgrade.valid}">
        <div class="valid-feedback">
          <!-- WEB成绩格式正确！ -->
        </div>
        <div class="invalid-feedback">
          <span *ngIf="webgrade.hasError('required')">WEB成绩不能为空！</span>
          <!-- <span *ngIf="!webgrade.hasError('required') && webgrade.hasError('invalidWebgrade')">WEB成绩必须≥0且≤100！</span> -->
          <span
            *ngIf="!webgrade.hasError('required') && webgrade.hasError('invalidWebgrade')">WEB成绩必须是0-100之间的整数！</span>
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-success btn-lg btn-block" (click)="add();modalRef.hide()">添加</button>
  </div>
</ng-template>

<ng-template #template_update>
  <div class="modal-header">
    <div class="spinner-border text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <h4 class="modal-title pull-left">修改面板</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="stuForm">
      <div class="form-group">
        <label for="id">学号</label>
        <input type="text" class="form-control" id="id" name="id" [formControl]='id'
          [ngClass]="{'is-invalid': id.invalid,'is-valid':id.valid}">
        <div class="valid-feedback">
          学号格式正确！
        </div>
        <div class="invalid-feedback">
          <span *ngIf="id.hasError('required')">学号必须填写！</span>
          <span *ngIf="!id.hasError('required') && id.hasError('invalidId')">学号必须是数字！</span>
        </div>
      </div>
      <div class="form-group">
        <label for="stuName">学生姓名</label>
        <input type="text" class="form-control" id="stuName" name="stuName" [formControl]='stuName'>
      </div>
      <div class="form-group">
        <label for="webgrade">WEB成绩</label>
        <input type="text" class="form-control" id="webgrade" name="webgrade" [formControl]='webgrade'
          [ngClass]="{'is-invalid': webgrade.invalid,'is-valid':webgrade.valid}">
        <div class="valid-feedback">
          <!-- WEB成绩格式正确！ -->
        </div>
        <div class="invalid-feedback">
          <span *ngIf="webgrade.hasError('required')">WEB成绩不能为空！</span>
          <!-- <span *ngIf="!webgrade.hasError('required') && webgrade.hasError('invalidWebgrade')">WEB成绩必须≥0且≤100！</span> -->
          <span
            *ngIf="!webgrade.hasError('required') && webgrade.hasError('invalidWebgrade')">WEB成绩必须是0-100之间的整数！</span>
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-warning btn-lg btn-block" (click)="update();modalRef.hide()">修改</button>
  </div>
</ng-template>


<ng-template #template_delete>
  <div class="modal-header">
    <div class="spinner-border text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <h4 class="modal-title pull-left">确定要删除吗？</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <button type="button" class="btn btn-danger btn-lg btn-block" (click)="delete();modalRef.hide()">确定</button>
      <button type="button" class="btn btn-light btn-lg  btn-block" (click)="modalRef.hide()">取消</button>
    </div>
  </div>
</ng-template>


<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">学号</th>
      <th scope="col">学生姓名</th>
      <th scope="col">WEB成绩</th>
      <th scope="col">选中状态</th>
      <th scope="col">事件</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center" *ngFor='let stu of stus$ | async;let  i = index ' (click)="select(stu)">
      <th scope="row">{{i+1}}</th>
      <td>{{stu.id}}</td>
      <td>{{stu.stuName}}</td>
      <td>{{stu.webgrade}}</td>
      <td><input type="radio" class="form-check-input" id="exampleCheck1" name="option1"><label>选中</label></td>
      <td><input type="button" class="btn btn-outline-danger" (click)="openModal(template_delete)" value="删除"
          style="border: none;text-decoration:underline"></td>
    </tr>
  </tbody>
</table>
