<div class="page">
  <div class="up container-fluid">
    <div class="row align-items-center row1">
      <div class="col one">
        <img src="../../assets/imgs/logo1.png" class="tu">
      </div>
      <div class="col-8">
      </div>
      <div class="col">
        <!-- <a href="#">
        <div class="d-flex flex-row-reverse bd-highlight">
          <div class="p-2 bd-highlight">
            <div class="menu-icon"></div>
          </div>
        </div>
      </a> -->
      </div>
    </div>
  </div>
  <div class="center">
    <div class="row justify-content-center row2  align-items-center">
      <div class="col-4">
        <h3 class="text-light you">NOT THE NEXT</h3>
        <p class=" display-2 font-weight-bold text-light you">THE FIRST</p>
      </div>
      <div class="col-4 font text-center">
        <form class="form-signin" _lpchecked="1">
          <img class="mb-4" src="../../assets/imgs/login.svg" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
          <label for="inputUsername" class="sr-only">Username</label>
          <input type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus=""
            style="background-color: rgb(225, 230, 215); background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;"
            autocomplete="off">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""
            style="background-color: rgb(225, 230, 215); background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;"
            autocomplete="off">
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="btn btn-lg btn-info btn-block" type="submit" [routerLink]="['/management']"
            (click)='login()'>登录</button>
          <p class="mt-5 mb-3 text-white">© 沈轶东</p>
        </form>
      </div>
    </div>
  </div>
  <div class="bottom container">
    <div class="row img color">
      <div class="col"><img src="../../assets/imgs/light1.png"></div>
      <div class="col"><img src="../../assets/imgs/light2.png"></div>
      <div class="col"><img src="../../assets/imgs/light3.png"></div>
      <div class="col"><img src="../../assets/imgs/light4.png"></div>
    </div>
  </div>

</div>
